.appContainer {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 !important;
  margin: 0 !important;
}

.pdfContainer {
  flex-grow: 1;
  position: relative;
  align-items: center;
  justify-content: center;
}

.sideBar {
  z-index: 100;
  padding: 5px 10px !important;
  margin: 0 !important;
  display: flex;
  width: fit-content;
  flex-direction: column;
  background-color: azure;
}

.fieldsContainer {
  overflow-y: auto !important;
  margin: 5px 0px 0px 0px !important;
  flex-shrink: 1;
}

.fieldHeader {
  display: flex;
  flex-direction: row;
}

.zoomButtonContainer {
  position: absolute;
  z-index: 100;
  display: flex;
  left: 50%;
  transform: translateX(-50%);
}

.zoomButton {
  margin: 10px;
  border-radius: 100%;
  align-items: center;
  width: 40px;
  height: 40px;
  text-align: center;
  vertical-align: middle;
}

body {
  margin: 0 !important;
  padding: 0 !important;
  width: 100% !important;
  height: 100% !important;
}

.result {
  width: 500px;
  min-height: 100px !important;
  max-height: 200px !important;
  overflow-y: auto;
  text-align: start;
  font-family:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
}
